.scrollComponent{
  justify-content: center;
  display: flex;
}
.createPostContainer{
display:flex;
height: 10svh;
width: 100%;
padding-inline: 0.8rem;
gap: 1.3rem;
position: relative;
align-items: center;
background: rgb(255, 246, 246);
border-radius: 20px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  
}
.uploadButton {
  position: absolute;
  right: 0;
  bottom: -45%;
  background: rgb(2,93,158);
  color: white;
  border-radius: 10px;
  padding-inline: 0.6rem;   /* Reduced from 1.2rem */
  padding-block: 0.4rem;    /* Reduced from 0.8rem */
  font-size: 0.8rem;        /* Optional: make text smaller */
  cursor: pointer;
}


.userProfile {
  border-radius: 100%;
  height: 60%;
  width: fit-content;


}

.Fab{
  background: rgb(0, 50, 120);
  border-radius: 100%;
  justify-content: center;
  display: flex;
}

.Fab > svg {
    width: fit-content;
    height: 40px;
    color: white;
}

.textAreaOfContent{
  width: 80%;
  height: 70%;
  border: 1px solid silver;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  outline: none;
}

.singleCard{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid rgb(179, 179, 179);

}
.singleCard_profileContainer {
  display: flex;
  gap: 0.8rem;
  padding: 1rem;
  align-items: flex-start; /* Align top */
}

.singleCard_profileContainer > img {
  width: 40px;               /* Fixed size for profile image */
  height: 40px;
  object-fit: cover;         /* Ensures the image fills without distortion */
  border-radius: 50%;
}
.singleCard__image{
     width: 100%;
     padding-top: 0.6rem;
     height: fit-content;
     overflow: hidden;
}
.singleCard__image>img{
  width: 100%;
  height: auto;
object-fit: cover;
border-radius: 20px;
}
.optionsContainer {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  padding-block: 0.6rem;
}
.singleOption__optionsContainer > svg {
  height: 100%;
  width: 8%;
}
.singleOption__optionsContainer{
  display: flex;
  align-items: center;
  gap: 0.7 rem;
  justify-content: center;
  cursor: pointer;
}

.commentsContainer {
  position:fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0,0,0,0.7);
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

.allCommentsContainer{
  width: 40vw;
  height: 80vh;
  background: white;
  border-radius: 10px;
  position: relative;
  padding: 1.4rem;
}
.profileTextContainer {
  display: flex;
  flex-direction: column;
  gap: "1.2rem"


}
.profileTextContainer p {
  margin: 0.2rem 0;
}
.nameAndTrash {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* spacing between name and trash icon */
  justify-content: space-between;
  
}
.postCommentContainer{
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.postCommentContainer>input {
  flex: 0.9;
  padding-inline: 1.5rem;
  padding-block: 1.2rem;
  border: none;
  outline: none;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
}

.postCommentContainer>input:focus {
  outline: 1px solid silver;
  /*border: silver;*/
}

.postCommentContainer__commentBtn {
  flex: 0.1;
  width: fit-content;
  padding: 1.2rem;
  background: orange;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}

